body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  line-height: 1.5;
  margin: 5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 100%;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}


@media screen and (max-width: 768px) {

  .container {
    margin-top: 150px;
  }

  .btn {
    margin: 10px;
    height: 100px;
    width: 100px;
  }
}

@media screen and (max-width: 1120px) {
  .btn {
    margin: 15px;
    height: 150px;
    width: 150px;
  }
}



.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}